<rt-require dependency="./../alerts/alerts.component" as="Alerts"/>
<rt-require dependency="react-infinite-scroller" as="InfiniteScroll"/>

<div className="cc-component" id="leaders">
  <div className="cc-component__form">
    <div className="panel panel-coolclimate">
      <div className="panel-heading">
          <div class="table-title">
            {this.t('leaders.title')}
          </div>
          <div class="filters">
            <div class="location_filter">
              <span className="hint">{this.t('leaders.location_filter')}</span>
              <div className="dropdown cc-component__question">
                <button className="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"   onClick="{this.showLocationsList.bind(this)}">
                  {this.t('leaders.us_state')} 
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" onClick="{this.resetLocation.bind(this)}">{this.t('leaders.reset')} 
                      <i className="fa fa-undo" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li rt-repeat="state in this.filtered_locations"  key="{stateIndex}">
                    <a href="#" data-state="{state}" onClick="{this.setLocationFilter.bind(this)}">{state}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="household_filter">
              <span className="hint">{this.t('leaders.household_filter')}</span>
              <div className="dropdown cc-component__question">

                <button className="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"  onClick="{this.showHouseholdList.bind(this)}">
                  {this.t('#')} <span className="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#" onClick="{this.resetHousehold.bind(this)}">
                      {this.t('leaders.reset')} <i className="fa fa-undo" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li rt-repeat="size in this.household_sizes" key="{sizeIndex}">
                    <a href="#" data-size="{size[0]}" onClick="{this.setHouseholdFilter.bind(this)}">
                      {size[1]}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </div>
      <div className="panel-body">
        <Alerts rt-if="this.alert_exists" list="{this.alert_list}"
          category="leaders"
          currentRoute="{this.current_route_name}"
          pushAlert="{this.props.pushAlert}" />
        <section className="table">
          <header className="header">
            <div className="headers">
              <div className="header-column">{this.t('leaders.ranking')}</div>
              <div className="header-column">{this.t('Name')}</div>
              <div className="header-column">{this.t('Location')}</div>
              <div className="header-column">{this.t('leaders.household_size')}</div>
              <div className="header-column">{this.t('leaders.total_footprint')}</div>
            </div>
          </header>
          <InfiniteScroll
                key="{this.infinteScrollKey}"
                pageStart="{0}"
                loadMore="{this.loadMoreLeaders.bind(this)}"
                hasMore="{this.loadMore}"
                threshold="{50}"
                element="article"
                className="body"
                initialLoad="{false}">
              <div rt-repeat="user in this.list" key={userIndex} className="row-table" rt-class="{user: user.user_id == this.user_id}">
                <div className="cell" scope="row">{userIndex + 1}</div>
                <div className="cell"><a onClick="{this.goToProfile.bind(this, user.user_id)}">{user.first_name} {user.last_name}</a></div>
                <div className="cell">{this.displayLocation(user)}</div>
                <div className="cell">{this.displayHouseholdSize(user)}</div>
                <div className="cell">{user.total_footprint.result_grand_total} <span className="graphs__units" dangerouslySetInnerHTML="{{ __html: this.t('units.tons_co2_per_year')}}"></span></div>
              </div>
         
                
          </InfiniteScroll>
          <div className="body" rt-if="!this.state.found && this.profile">
            <div  className="row-table user">
                <div className="cell" scope="row"></div>
                <div className="cell"><a onClick="{this.goToProfile.bind(this, this.profile.get('user_id'))}">{this.profile.get('first_name')} {this.profile.get('last_name')}</a></div>
                <div className="cell">{this.displayLocation(this.profile.toJS())}</div>
                <div className="cell">{this.displayHouseholdSize(this.profile.toJS())}</div>
                <div className="cell">{this.profile_total} <span className="graphs__units" dangerouslySetInnerHTML="{{ __html: this.t('units.tons_co2_per_year')}}"></span></div>
            </div>
          </div>
        </section>
        
      </div>
    </div>
    <div className="cc-component__scroll-top"><a className="btn btn-default" onClick="{this.scrollToTop.bind(this)}"><i className="fa fa-arrow-up"></i></a></div>
  </div>
</div>
