<rt-require dependency="./../alerts/alerts.component" as="Alerts"/>
<rt-require dependency="react-infinite-scroller" as="InfiniteScroll"/>

<div className="cc-component" id="leaders">
  <div className="cc-component__form">
    <div className="panel panel-coolclimate">
      <div className="panel-heading">
          <div class="table-title">
            {this.t('leaders.title')}
          </div>
          <div class="filters">
            <div class="location_filter">
              <span className="hint">{this.t('leaders.location_filter')}</span>
              <div className="cc-component__question">
                <button className="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true" onClick="{this.showLocationsList.bind(this)}">
                  {this.t('leaders.us_state')} <span className="caret"></span>
                </button>
                <div rt-if="this.show_locations_list" id="leaders_locations_list">
                  <div className="leaders__location-suggestion"
                    onClick="{this.resetLocation.bind(this)}">{this.t('leaders.reset')} <i className="fa fa-undo" aria-hidden="true"></i></div>
                    <div rt-repeat="state in this.filtered_locations" className="leaders__location-suggestion" data-state="{state}" onClick="{this.setLocationFilter.bind(this)}" title="{state}" key="{stateIndex}">{state}</div>
                </div>
              </div>
            </div>
            <div class="household_filter">
              <span className="hint">{this.t('leaders.household_filter')}</span>
              <div className="cc-component__question">
                <button className="btn btn-default" type="button" aria-haspopup="true" aria-expanded="true" onClick="{this.showHouseholdList.bind(this)}">
                  {this.t('#')} <span className="caret"></span>
                </button>
                <div rt-if="this.show_household_list" id="leaders_household_list">
                  <div className="leaders__household-suggestion"
                    onClick="{this.resetHousehold.bind(this)}">{this.t('leaders.reset')} <i className="fa fa-undo" aria-hidden="true"></i></div>
                    <div rt-repeat="size in this.household_sizes" className="leaders__household-suggestion" data-size="{size[0]}" onClick="{this.setHouseholdFilter.bind(this)}" key="{sizeIndex}">{size[1]}</div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div className="panel-body">
        <Alerts rt-if="this.alert_exists" list="{this.alert_list}"
          category="leaders"
          currentRoute="{this.current_route_name}"
          pushAlert="{this.props.pushAlert}" />
        <section className="table">
          <header className="header">
            <div className="headers">
              <div className="header-column">{this.t('leaders.ranking')}</div>
              <div className="header-column">{this.t('Name')}</div>
              <div className="header-column">{this.t('Location')}</div>
              <div className="header-column">{this.t('leaders.household_size')}</div>
              <div className="header-column">{this.t('leaders.total_footprint')}</div>
            </div>
          </header>
             <InfiniteScroll
                pageStart="{0}"
                loadMore="{this.loadMoreLeaders.bind(this)}"
                hasMore="{this.loadMore}"
                threshold="{50}"
                initialLoad="{false}">
              <div rt-repeat="user in this.list" key={userIndex} className="row">
                <div className="cell" scope="row">{userIndex + 1}</div>
                <div className="cell"><a onClick="{this.goToProfile.bind(this, user.user_id)}">{user.first_name} {user.last_name}</a></div>
                <div className="cell">{this.displayLocation(user)}</div>
                <div className="cell">{this.displayHouseholdSize(user)}</div>
                <div className="cell">{user.total_footprint.result_grand_total} <span className="graphs__units" dangerouslySetInnerHTML="{{ __html: this.t('units.tons_co2_per_year')}}"></span></div>
              </div>
          </article>
        </section>
        
      </div>
    </div>
    <div className="cc-component__scroll-top"><a className="btn btn-default" onClick="{this.scrollToTop.bind(this)}"><i className="fa fa-arrow-up"></i></a></div>
  </div>
</div>
