#leaders {
  .cc-component__form {
    margin-top: 10px;
  }
  .table{
    display:table;
    border-collapse: collapse;
    .header{
      display:table-header-group;
    }
    .headers{
       display:table-row;
    }
    .header-column{
      display: table-cell;
      border-top: 0;
      vertical-align: bottom;
      border-bottom: 2px solid #ddd;
      padding: 8px;
      line-height: 1.42857143;
      text-align: left;
      font-weight: bold;
    }
    .body{
      display:table-row-group;
    }
    .row-table{
      display: table-row;
    }
    .cell{
      display: table-cell;
      padding: 8px;
      line-height: 1.42857143;
      vertical-align: top;
      border-top: 1px solid #ddd;
    }
  }
  .panel-heading {
    height: 95px;
    .table-title {
      width: 100%;
      font-size: 1.2em;
      text-align: center;
      clear: both;
      border-bottom: 1px solid #fff;
      padding-bottom: 4px;
    }
  }

  .filters {
    width: 80%;
    margin: 10px auto;

    .location_filter,
    .household_filter {
      float: left;

      .hint {
        display: inline-block;
        vertical-align: top;
        padding-top: 6px;
      }

      .cc-component__question {
        display: inline-block;
        padding: 0 10px;
      }

      #leaders_locations_list,
      #leaders_household_list {
        background-color: white;
        width: 100%;
        color: #000;
        border: 1px solid #ddd;
      }

      .leaders__location-suggestion,
      .leaders__household-suggestion {
        cursor: pointer;
        color: #000;
        height: 20px;
        line-height: 20px;
        padding-left: 5px;
        margin: 2px 10px;
        &:hover { background-color: #E6E6E6; }
      }
    }

    .location_filter {
      width: 57%;
    }
    .household_filter {
      width: 43%;
    }
  }

  .cc-component__scroll-top {
    float: right;
    margin-bottom: 20px;
  }
}

@media (max-width: 650px) {
  #leaders {
    .panel-heading {
      height: 135px;
      .table-title {
        padding: 0;
      }
    }

    #location_filter {
      .hint {
        display: block;
        vertical-align: top;
        padding-top: 0;
      }

      .cc-component__question {
        display: block;
        padding: 5px;
      }

      #leaders_locations_list {
        background-color: white;
        width: 100%;
        color: #000;
        border: 1px solid #ddd;
      }
    }
  }
}
