#leaders {
  .cc-component__form {
    margin-top: 10px;
  }

  .loader {
    width: 40px;
    height: 40px;
    margin: 0px auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #6ebb6c;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }

  #leaders_location_container {
    width: 35%;
    margin-left: 25%;
    position: relative;
    display: inline-block;
    .hint,
    .cc-component__question { display: inline-block; }

    #leaders_locations_list {
      position: absolute;
      background-color: white;
      width: 100%;
      color: #000;
      border: 1px solid #ddd;
      z-index: 9999;
    }

    .leaders__location-suggestion {
      cursor: pointer;
      color: #000;
      height: 20px;
      line-height: 20px;
      padding-left: 5px;
      margin: 2px 10px;
      &:hover { background-color: #E6E6E6; }
    }
  }

  .cc-component__scroll-top {
    float: right;
    margin-bottom: 20px;
  }
}
