<main class="cc-component container container-md" id="footprint">
  <header class="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-black.svg"/>
      <h4>{this.t('footprint.title')}</h4>
    </div>
  </header>

  <div id="overall_comparative_pie"></div>
  <div class="chart-legend">
    <div>
      <img src="/assets/img/your-footprint-icon.png"/>
      {this.t('footprint.your_footprint')}
    </div>
    <div>
      <img src="/assets/img/average-footprint-icon.png"/>
      {this.t('footprint.average_footprint')}
    </div>
  </div>
  <div class="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
    <a onClick="{this.router.next.bind(this.router)}">{this.t('Next')}</a>
  </div>
</main>
