<main class="cc-component container container-md" id="food">
  <header class="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-grey.svg"/>
      <h4>{this.t('food.title')}</h4>
    </div>
    <p><a class="cc-component__compare btn btn-default"
      onClick="{this.toggleLeadersChart.bind(this)}"
      rt-if="this.connect_to_api">
      {this.t('component.compare')} <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
    </a></p>
    <h3 class="cc-component__byline">{this.t('food.byline')}</h3>
    <div>
      <span class="cc-component__simple-toggle"
        rt-class="{'cc-component__simple-toggle--active': this.state.simple}"
        onClick="{this.setSimple.bind(this)}">{this.t('component.labels.simple')}</span> |
      <span class="cc-component__simple-toggle"
        rt-class="{'cc-component__simple-toggle--active': !this.state.simple}"
        onClick="{this.setAdvanced.bind(this)}">{this.t('component.labels.advanced')}</span>
    </div>
  </header>

  <div class="cc-component__form">
    <div rt-repeat="food_type in this.relevant_api_keys"
      key="food_question_{food_type}">
      <div class="cc-component__question" rt-class="{hidden: !this.shouldShow(food_type)}">
        <h4>{this.t(`food.${food_type}.label`)}</h4>
        <div class="label-container">
          <span class="label label-slider">{this.displayUserCalories(food_type)} <i>{this.t('food.calories')}</i></span>
        </div>
        <div id="food_average_slider_{food_type}"></div>
      </div>
    </div>
  </div>

  <div class="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
    <a onClick="{this.router.next.bind(this.router)}">{this.t('Next')}</a>
  </div>
</main>
