#graphs {
  margin-top: 30px;
  text-align:center;

  .reduction-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #5cb85c;
    vertical-align: middle;
  }
  /* Stacked Bar-Chart */
  .stacked-bar-tooltip {
    display: none;
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: inset 0 0 3px #888;
    font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: none repeat scroll 0 0 white;
    color: black;
    text-align: center;
  }

  .d3-stacked-bar-chart rect.reduction{
    fill: #5cb85c !important;
  }

  .d3-stacked-bar-chart rect:hover,
  .d3-stacked-bar-chart rect:focus {
    opacity: 0.9;
    filter: alpha(opacity=90);
  }
}

#overview_chart {
  text-align:center;
  padding:10px;

  rect.your-footprint.travel { fill: #0D7A3E; }
  rect.your-footprint.home { fill: #45813C; }
  rect.your-footprint.dining { fill: #5E893C; }
  rect.your-footprint.goods { fill: #0B713D; }
  rect.your-footprint.services { fill: #4AAA48; }

}

.d3-overlap-bar { cursor:pointer; }

#graphs_toggle_chart {
	text-align: center;
	padding-top: 15px;
}

.graphs__units {
  font-size:0.9em;
}

.graphs--active {
  color:#4AAA48;
}

#overview_bar_chart {
  @media (max-width: 400px) {
    .series text {
      font-size:8px !important;
    }
  }
}

#graphs_summary {
  tbody > tr > td {
    font-weight: bold;
  }
  tbody > tr > td,
  tfoot > tr > td {
    text-align:center;
    vertical-align:middle;
    font-size:1.2em;
  }

  &.highlighted {
    tbody > tr > td,
    tfoot > tr > td {
      border: 0px;
    }

    .btn {
      border: 0;
    }

    img {
      width: 80%;
      height: auto;
    }

    tbody>tr>td,
    tfoot>tr>td {
      padding: 0px;
    }

    tbody > tr > td {
      font-weight: normal;
      .amount {
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2.5em;
        font-weight: 300;
        font-style: normal;
      }
    }

    tbody > tr > td:nth-child(3) {
      vertical-align: bottom;
    }

    tfoot > tr > td {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 600;
      font-style: normal;
      vertical-align: top;
    }

    .graphs__units {
      color: #666;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 300;
      font-style: normal;
    }
  }
}

@media (max-width: 400px) {
  #graphs_summary {
    font-size:0.8em;
  }
}

/* Pie */

#overall_comparative_pie {
  text-align:center;
}

.d3-value-arc {
  text {
    fill: #333;
    cursor:pointer;
    &:hover {
      fill: #555;
      text-decoration: underline;
    }
  }
  path {
    stroke: white;
    stroke-width: 1px;
  }
}

.d3-comparative-arc {
  stroke: darkgrey !important;
}

#graphs_toggle_chart {
  margin-bottom:10px;
}
