<div className="cc-component" id="graphs">
  <div id="graphs_stats">
    <table id="graphs_summary" className="table" rt-class="{highlighted: this.displayCompactSummary}">
      <tbody>
        <tr>
          <td>
            <span className="amount">{Math.round(this.user_category_footprint)} </span>
            <span className="graphs__units" dangerouslySetInnerHTML="{{ __html: '&nbsp;' + this.t('units.tons_co2_per_year')}}"></span>
          </td>
          <td rt-class="{hidden: this.displayCompactSummary}">
            {Math.round(this.average_category_footprint)}
            <span className="graphs__units" dangerouslySetInnerHTML="{{ __html: '&nbsp;' + this.t('units.tons_co2_per_year')}}"></span>
          </td>
          <td rt-class="{hidden: !this.displayCompactSummary}">
            <button className="btn btn-default" onClick="{this.toggleChart.bind(this)}">
              <img src="/assets/img/graphs-toggle.png"/>
            </button>
          </td>
          <td>
            <span className="amount">{this.display_category_percent}%</span>
          </td>
          <td rt-class="{hidden: !this.shouldShowTotal}">
            {this.display_total_footprint}
            <span className="graphs__units" dangerouslySetInnerHTML="{{ __html: this.t('units.tons_co2_per_year')}}"></span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>{this.category_user_byline}</td>
          <td rt-class="{hidden: this.displayCompactSummary}">{this.category_average_byline}</td>
          <td rt-class="{hidden: !this.displayCompactSummary}"></td>
          <td>{this.category_percentage_byline}</td>
          <td rt-class="{hidden: !this.shouldShowTotal}">
            {this.t('summaries.total_footprint')}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="graphs_toggle_chart" rt-class="{hidden: (!this.show_chart && this.displayCompact)}">
    <div className="btn-group">
      <button className="btn btn-default"
        rt-class="{'graphs--active': this.show_bar_chart}"
        onClick="{this.toggleChartType.bind(this, 'bar')}">
        <i className="fa fa-bar-chart"></i>
      </button>
      <button className="btn btn-default"
        rt-class="{'graphs--active': this.show_pie_chart}"
        onClick="{this.toggleChartType.bind(this, 'pie')}">
        <i className="fa fa-pie-chart"></i>
      </button>
    </div>
  </div>

  <div rt-class="{hidden: !this.show_bar_chart}">
    <h4 dangerouslySetInnerHTML="{{ __html: this.t('graphs.bar_graph_title')}}"></h4>
    <div id="overview_bar_chart"></div>
    <div className="chart-legend">
      <div>
        <img src="/assets/img/your-footprint-rect.png"/>
        {this.your_footprint_legend}
      </div>
      <div rt-if="this.is_takeaction_page">
        <div class="reduction-icon"></div>
        {this.t('graphs.your_reductions')}
      </div>
      <div>
        <img src="/assets/img/average-footprint-rect.png"/>
        {this.t('footprint.average_footprint')}
      </div>
    </div>
  </div>

  <div rt-class="{hidden: !this.show_pie_chart}">
    <div id="overall_comparative_pie"></div>
    <div className="chart-legend">
      <div>
        <img src="/assets/img/your-footprint-icon.png"/>
        {this.your_footprint_legend}
      </div>
      <div>
        <img src="/assets/img/average-footprint-icon.png"/>
        {this.t('footprint.average_footprint')}
      </div>
    </div>
  </div>
</div>
