<rt-require dependency="./external_offset/external_offset.component" as="ExternalOffset"/>
<rt-require dependency="./action/action.component" as="Action"/>
<main className="cc-component container container-md" id="take_action">
  <header className="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-grey.svg"/>
      <h4>{this.t('take_action.title')}</h4>
    </div>
    <span className="cc-component__byline" rt-if="!this.external_offset_set">{this.t('take_action.byline')}</span>
  </header>

  <ExternalOffset totalUserFootprint={this.total_user_footprint} ui={this.props.ui} rt-if="this.external_offset_set"></ExternalOffset>

  <div id="action_category_btn_group_container" className="cc-component__question">
    <div id="action_category_btn_group" className="btn-group" role="group">
      <a rt-repeat="category in this.actions_list"
        rt-class="{'btn-success': this.isCategoryActive(category.category), 'btn-default': !this.isCategoryActive(category.category)}"
        key="action_category_{category.category}"
        type="button"
        className="btn"
        onClick="{this.setCategory.bind(this, category.category)}"
         >{this.t(category.title)}</a>
    </div>
  </div>

  <div id="action_critical_assumptions">
    <a type="button"
      className="btn btn-sm btn-info"
      onClick="{this.toggleCriticalAssumptions.bind(this)}"
       >{this.t('take_action.critical_assumptions')}</a>
       <Action is_assumption={true} show="{this.state.show_critical_assumptions}"></Action>
  </div>

  <div className="cc-component__form">
    <div id="action-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        <rt-virtual rt-repeat="category in this.actions_list">
          <Action rt-repeat="key in category.keys" active="{this.activeAction(key)}" action_key="{key}" category="{category.category}" show="{this.showAction(key)}" is_assumption={false}></Action>
        </virtual>
      </div>

      <a class="left carousel-control" href="#action-carousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#action-carousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div id="take_action_savings" className="fixed-sidebar">
    <div className="mobile">
      <span className="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span><br/>
      <span className="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span><br/>
      <span className="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span><br/>
    </div>
    <div className="desktop">
      <h3><span className="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span></h3>
      <h3><span className="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span></h3>
      <h3><span className="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span></h3>
    </div>
  </div>

  <div className="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
  </div>
</main>
