#take_action {
  position:relative;
  .take-action__detail-toggle {
    float: right;
  }

  .cc-component__nav {
    margin-top: 20px;
  }
}

#take_action_savings {
  bottom:5px;
  h3 { margin-top:7px; margin-bottom:0px; }
  .mobile {
    display:none;
  }
  .desktop {
    display:inline-block;
  }
}

#action_category_btn_group_container {
  text-align:center;
}

#action_critical_assumptions {
  text-align: center;
  padding-bottom: 15px;
  .btn {
    color: #000;
  }
}

#action_category_btn_group {
  white-space:nowrap;
  max-width:100%;
  overflow-x:auto;
  a {
    float:none;
  }
}

.action__list-table {
  td {
    vertical-align: middle !important;
  }
}

@media (max-width: 600px) {
  #action_category_btn_group {
    a {
      font-size:0.8em;
      width:95px;
    }
  }
}

@media (max-width: 400px) {
  #take_action_savings {
    .mobile {
      display:inline-block;
    }
    .desktop {
      display:none;
    }
  }
}

.take_action__filter-toggle {
  text-align:center;
}

.take_action__list-header {
  @media (max-width: 400px) {
    font-size:11px;
  }
}

.take_action__sortable-header {
  cursor: pointer;
  > div {
    display:flex;
    align-items: center;
    justify-content: space-between;
  }
  .take_action__sortable-header__no-sort {
    // this is sort of a placeholder for the filter arrow.
    margin-right: 10px;
  }
}
