<rt-require dependency="./external_offset/external_offset.component" as="ExternalOffset"/>
<rt-require dependency="./action/action.component" as="Action"/>
<main className="cc-component container container-md" id="take_action">
  <header className="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-grey.svg"/>
      <h4>{this.t('take_action.title')}</h4>
    </div>
    <span className="cc-component__byline" rt-if="!this.external_offset_set">{this.t('take_action.byline')}</span>
  </header>

  <ExternalOffset totalUserFootprint={this.total_user_footprint} ui={this.props.ui} rt-if="this.external_offset_set"></ExternalOffset>

  <div class="filter-sort list-group">
    <li class="list-group-item category-filter">
      <label>
        {this.t('take_action.category')}
      </label>
      <ul>
        <button rt-repeat="category in this.category_list"
          key="action_category_{category.id}"
          className="btn btn-link"
          onClick="{this.setCategory.bind(this, category.id)}"
           ><li rt-class="{'shifted': this.isCategoryActive(category.id)}">
             <i rt-if="this.isCategoryActive(category.id)" class="fa fa-check" aria-hidden="true"></i>{this.t(category.title)}
           </li>
         </button>
      </ul>
    </li>
    <li class="list-group-item status-filter">
      <label>
        {this.t('take_action.status')}
      </label>
      <ul>
        <button rt-repeat="status in this.status_list"
          key="{statusIndex}"
          className="btn btn-link"
          onClick="{this.setStatusFilter.bind(this, status.key)}"
           ><li rt-class="{'shifted': this.isStatusFilterActive(status.key)}">
             <i rt-if="this.isStatusFilterActive(status.key)" class="fa fa-check" aria-hidden="true"></i>{this.t(status.title)}
           </li>
         </button>
      </ul>
    </li>
    <li class="list-group-item sort-by">
      <label>
        {this.t('take_action.sort_by')}
      </label>
      <select class="form-control" onChange="{this.handleSortByChange.bind(this)}">
        <option rt-repeat="option in this.sort_options" key="{optionIndex}" value="{option.id}">{option.title}</option>
      </select>
    </li>
  </div>

  <div class="action-detailing">
    <button className="btn btn-xs btn-link"
      onClick="{this.toggleCriticalAssumptions.bind(this)}"
       >{this.t('take_action.critical_assumptions')}</button>
       <Action is_assumption={true} show="{this.state.show_critical_assumptions}"></Action>
  </div>

  <div className="cc-component__form">
    <div rt-if="this.current_actions_list.length !== 0" id="action-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner" role="listbox">
        <Action rt-if="!this.sort_by_active"
          rt-repeat="key in this.all_actions"
          key={keyIndex}
          show="{this.showActionCard(key)}"
          active="{this.activateCarouselItem(key)}"
          action_key="{key}"
          category="{this.getCategoryByAction(key)}"
          is_assumption={false} />
        <Action rt-if="this.state.sort_by === 'title'"
          rt-repeat="key in this.current_actions_list"
          key={keyIndex}
          show="{this.showActionCard(key)}"
          active="{this.activateCarouselItem(key)}"
          action_key="{key}"
          category="{this.getCategoryByAction(key)}"
          is_assumption={false} />
        <Action rt-if="this.state.sort_by === 'tons_saved'"
          rt-repeat="key in this.current_actions_list"
          key={keyIndex}
          show="{this.showActionCard(key)}"
          active="{this.activateCarouselItem(key)}"
          action_key="{key}"
          category="{this.getCategoryByAction(key)}"
          is_assumption={false} />
        <Action rt-if="this.state.sort_by === 'dollars_saved'"
          rt-repeat="key in this.current_actions_list"
          key={keyIndex}
          show="{this.showActionCard(key)}"
          active="{this.activateCarouselItem(key)}"
          action_key="{key}"
          category="{this.getCategoryByAction(key)}"
          is_assumption={false} />
        <Action rt-if="this.state.sort_by === 'upfront_cost'"
          rt-repeat="key in this.current_actions_list"
          key={keyIndex}
          show="{this.showActionCard(key)}"
          active="{this.activateCarouselItem(key)}"
          action_key="{key}"
          category="{this.getCategoryByAction(key)}"
          is_assumption={false} />
      </div>

      <a class="left carousel-control" href="#action-carousel" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
      </a>
      <a class="right carousel-control" href="#action-carousel" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
      </a>
    </div>

    <div rt-if="this.current_actions_list.length === 0">
      <div class="alert alert-warning" role="alert">
        {this.t('take_action.empty_actions_list')}
      </div>
    </div>
  </div>

  <div id="take_action_savings" className="fixed-sidebar">
    <div className="mobile">
      <span className="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span><br/>
      <span className="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span><br/>
      <span className="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span><br/>
    </div>
    <div className="desktop">
      <h3><span className="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span></h3>
      <h3><span className="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span></h3>
      <h3><span className="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span></h3>
    </div>
  </div>

  <div className="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
  </div>
</main>
