#take_action {
  position:relative;
  .take-action__detail-toggle {
    float: right;
  }

  .cc-component__nav {
    margin-top: 20px;
  }

  .action-detailing {
    text-align: center;
    div {
      width: 70%;
      margin: 0 auto 15px;
    }
  }

  .filter-sort {
    margin-top: 20px;
    text-align: center;
    .list-group-item {
      display: inline-block;
      width: 24%;
      padding: 7px 9px;
      vertical-align: top;
      text-align: left;
      .shifted {
        margin-left: -18px;
        .fa {
          padding-right: 4px;
        }
      }

      label {
        width: 100%;
        padding: 5px 3px;
        margin-bottom: 0;
        &:hover {
          cursor: pointer;
          background-color: #eee;
        }
        &:after {
          display: block;
          position: absolute;
          top: 15px;
          left: auto;
          right: 15px;
          bottom: auto;
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f067";
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
      &.sort-by {
        .form-control {
          margin-top: 7px;
        }
      }
    }
    ul {
      list-style-type: none;
      padding-left: 7px;
      .btn {
        display: block;
        width: 100%;
        text-align: left;
        border: 0;
      }
    }
  }

  .cc-component__form {
    .carousel-control {
      color: #000;
      &.right,
      &.left {
        background-image:none !important;
        filter:none !important;
      }
    }
    .alert {
      width: 60%;
      margin: 10px auto;
    }
  }
}

#take_action_savings {
  bottom:5px;
  h3 { margin-top:7px; margin-bottom:0px; }
  .mobile {
    display:none;
  }
  .desktop {
    display:inline-block;
  }
}

#action_category_btn_group_container {
  text-align:center;
}

#action_category_btn_group {
  white-space:nowrap;
  max-width:100%;
  overflow-x:auto;
  a {
    float:none;
  }
}

@media (max-width: 600px) {
  #action_category_btn_group {
    a {
      font-size:0.8em;
      width:95px;
    }
  }
}

@media (max-width: 400px) {
  #take_action_savings {
    .mobile {
      display:inline-block;
    }
    .desktop {
      display:none;
    }
  }
}
