.cc-simple-advanced-container {
  text-align:center;
}

.cc-component__simple-toggle {
  cursor:pointer;
}

.cc-component__simple-toggle--active {
  font-weight:bold;
}

.d3-simple-slider path.domain, .d3-snap-slider path.domain {
  stroke-width:2px;
  stroke:black;
}

.d3-chart-handle {
  cursor: ew-resize;
}

.cc-component__byline {
  text-transform:uppercase;
  font-weight:bold;
  padding:6px;
  display:inline-block;
  font-size:0.9em;
}

.cc-component__header {
  h4 {
    margin-top:0px;
  }
}

.cc-component__question {
  padding:4px;
}

.cc-component__auth {
  text-align: center;
  .form-group {
    width: 50%;
    margin: 20px auto;
    .control-label {
      width: 20%;
      float: left;
    }
    .form-control {
      float: left;
      width: 60%;
      margin-left: 15px;
    }
  }
  .cc-component__auth-submit {
  	clear: both;
  	margin-bottom: 40px;
  	text-align: center;
  	width: 100%;
  	a {
  		background: #4AAA48;
  		color: #FFF;
  		display: inline-block;
  		padding: 10px;
  		text-transform: uppercase;
  		margin-right: 10px;
  		&:last-child { margin: 0; }
  	}
  }
}


#home,
#food {
  .cc-component__question {
    max-width: 80%;
    margin: 0px auto;
  }
}

.label-container {
  padding-top: 10px;
  text-align: center;
}

.label-slider {
  background-color:#0290BE;
  font-weight:normal;
  font-size:14px;
}

.chart-legend {
  padding:10px;
  img { height: 30px; }
  > div {
    text-align: center;
    font-style: italic;
  }
}

.cc-slider-container {
  text-align:center;
}

.panel-coolclimate {
  border-color:#30912D;
  .panel-heading {
    background-color:#4BA847;
    color:white;
    font-size:1.1em;
    border-color:#30912D;
  }
}

.btn-coolclimate-blue {
  background-color:#0F95D3;
  border-color:#0C8DC9;
  &:hover {
    background-color:#0C8DC9;
    border-color:#0983BB;
  }
}

@media (max-width: 400px) {
  .d3-snap-slider .tick text {
    font-size:0.8em;
  }
  .container {
    padding-left:5px;
    padding-right:5px;
  }
  .panel-body {
    padding:3px;
  }
}
