<main class="cc-component container container-sm" id="get_started">
	<header class="cc-component__header">
		<img src="/assets/img/{this.route_key}.png"/>
		<h2>{this.title}</h2>
	</header>

	<div class="cc-component__form">
		<div class="cc-component__question">
			<div class="btn-group btn-group-justified" role="group">
				<a
				rt-repeat="mode in this.location_modes"
				rt-class="{'btn-success': this.locationModeActive(mode[0]), 'btn-default': !this.locationModeActive(mode[0])}"
				key="location_mode_{mode[0]}"
				type="button"
				class="btn"
				onClick="{this.setLocationMode.bind(this, mode[0])}" >{this.t(mode[1])}</a>
			</div>
		</div>

		<div class="cc-component__question">
			<input class="form-control"
			placeholder="{this.t('get_started.location_prompt')}"
			onChange="{this.setLocationSuggestions.bind(this)}"
			onBlur="{this.hideLocationSuggestions.bind(this)}"
			onFocus="{this.showLocationSuggestions.bind(this)}"/>
			<div id="get_started_location_suggestions">
				<div
				rt-repeat="suggestion in this.state.locations.suggestions"
				key="{this.state.locations.data[suggestionIndex]}"
				data-zipcode="{this.state.locations.data[suggestionIndex]}"
				class="get-started__location-suggestion"
				onClick="{this.setLocation.bind(this, suggestion)}">{suggestion}</div>
			</div>
		</div>

		<div class="cc-component__question">
			<div class="cc-component__question-label">{this.t('get_started.size.label')}</div>
			<div id="size_slider"></div>
		</div>
		<div class="cc-component__question">
			<div class="cc-component__question-label">{this.t('get_started.income.label')}</div>
			<div id="income_slider"></div>
		</div>

	</div>

	<div class="cc-component__nav">
		<a onClick="{this.router.next.bind(this.router)}">{this.t('Next')}</a>
	</div>
</main>
