<rt-require dependency="shared/components/common/graphs/graphs.component" as="Graphs" />
<rt-require dependency="shared/components/common/leaders/leaders.component" as="Leaders" />
<main className="cc-component container container-md" id="footprint">
    <header className="cc-component__header">
        <div>
            <img src="/assets/img/{this.route_key}-grey.svg" />
            <h4>{this.t('footprint.title')}</h4>
        </div>
        <div class="btn-group" role="group">
            <button type="button" className="cc-component__compare btn btn-default" rt-if="this.connect_to_api && this.user_authenticated" onClick="{this.viewProfile.bind(this)}">
              {this.t('footprint.go_to_profile')}
            </button>
            <button type="button" className="cc-component__compare btn btn-default" rt-if="this.connect_to_api" onClick="{this.toggleLeadersChart.bind(this)}">
              {this.t('component.compare')} <i className="fa fa-sort-amount-asc" aria-hidden="true"></i>
            </button>
        </div>
    </header>

    <Graphs />

    <div class="cc_leaders">
        <Leaders rt-if="this.show_leaders_comparison" />
    </div>
</main>
