<rt-require dependency="./../flash_message/flash_message.component" as="FlashMessage"/>

<div class="cc-component" id="leaders">
  <div class="cc-component__form">
    <div class="panel panel-coolclimate">
      <div class="panel-heading">
          {this.t('leaders.title')}
          <div id="leaders_location_container">
            <span class="hint">{this.t('leaders.location_prompt')}</span>
            <div class="cc-component__question">
              <button class="btn btn-default" type="button" id="city_selector" aria-haspopup="true" aria-expanded="true" onClick="{this.showLocationsList.bind(this)}">
                City <span class="caret"></span>
              </button>
              <div rt-if="this.show_locations_list" id="leaders_locations_list">
                <div class="leaders__location-suggestion"
                  onClick="{this.resetLocation.bind(this)}">- {this.t('leaders.reset')} -</div>
                  <div rt-repeat="location in this.state.locations" class="leaders__location-suggestion" data-city="{location.city}" data-state="{location.state}" onClick="{this.setLocation.bind(this)}" title="{location.state}">{location.city}</div>
              </div>
            </div>
          </div>
      </div>
      <div class="panel-body">
        <FlashMessage alerts="{this.alert_list}" type="leaders"></FlashMessage>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>{this.t('sign_up.first_name')}</th>
              <th>{this.t('sign_up.last_name')}</th>
              <th>{this.t('City')}</th>
              <th>{this.footprint_title}</th>
              <!-- <th></th> -->
            </tr>
          </thead>
          <tbody>
            <tr rt-repeat="user in this.list" key={userIndex}>
              <td scope="row">{userIndex + 1}</td>
              <td>{user.first_name}</td>
              <td>{user.last_name}</td>
              <td>{user.city}, {user.state}</td>
              <td>{user.footprint} <span class="graphs__units" dangerouslySetInnerHTML="{{ __html: this.t('units.tons_co2_per_year')}}"></span></td>
            </tr>
          </tbody>
        </table>
        <div rt-class="{hidden: !this.is_loading}" class="loader"></div>
      </div>
    </div>
    <div class="cc-component__scroll-top"><a class="btn btn-default" onClick="{this.scrollToTop.bind(this)}"><i class="fa fa-arrow-up"></i></a></div>
  </div>
</div>
