.action {
  padding-bottom: 2px;

  .action__heading {
    border-bottom:1px solid lightgrey;
    background-color:#F2F2F2;
    border-radius:5px;
  }

  .action__heading--taken {
    color:white;
    background-color:#449D44;
  }

  .action__title {
    cursor:pointer;
    padding: 4px;
  }

  .action__savings-amount {
    font-size:1.25em;
  }

  .action__savings-label {
    font-weight:bold;
    font-size:0.9em;
  }

  .action__body {
    padding-top: 15px;
    border: 1px solid #F2F2F2;
    border-top: 0px;
    border-radius: 8px;
  }

  .action__assumptions-header,
  .action__assumptions-body {
    color: #696969;
    background-color: rgba(49, 176, 213, 0.1)
  }

  .action__savings {
    text-align:center;
    > div {
      display:inline-block;
      padding:4px;
      margin-left:4px;
      margin-right:4px;
    }
    > button {
      margin-top:3px;
      margin-right: 5px;
      float:right;
    }
  }

  .action__fact {
    color: #009966;
  }

  .table > tbody > tr > td {
    border-top: 0px;
    line-height: 1em;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
    &:nth-child(2){
      vertical-align: top;
    }
  }
}

.critical_assumptions {
  margin-top: 15px;
  border: 1px solid #46b8da;
  border-radius: 12px;
  background-color: #eee;
  .table {
    margin-top: 20px;
  }
}

.action,
.critical_assumptions {
  .table > tbody > tr > td {
    border-top: 0px;
    line-height: 1em;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
  }
}
