#travel .input-group input {
  text-align:right;
}

.vehicle-slider__container {
  text-align:center;
}


.cc-component__question--vehicle {
  overflow-x:scroll;
  .input-group {
    min-width:300px;
  }
}

