<div class="cc-component" id="travel">
  <div class="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}.png"/>
      <span>{this.t('travel.title')}</span>
    </div>
    <span class="cc-component__byline">{this.t('travel.byline')}</span>
    <div>
      <span class="cc-component__simple-toggle"
        onClick="{this.setSimple.bind(this)}">{this.t('component.labels.simple')}</span> |
      <span class="cc-component__simple-toggle"
        onClick="{this.setAdvanced.bind(this)}">{this.t('component.labels.advanced')}</span>
    </div>
  </div>

  <div class="cc-component__form">

    <div id="travel_add_vehicle">
      <button class="btn btn-default"
        onClick="{this.addVehicle.bind(this)}"
        rt-props="{disabled: this.vehicles_maxed}">
        <i class="fa-minus"></i>
      </button>
      {this.t('travel.add_vehicle')}
    </div>

    <div rt-repeat="vehicle in this.vehicles"
         class="cc-component__question cc-component__question--vehicle"
         key="{vehicle.id}">
      <select data-key="fuel_type" value="{vehicle.fuel_type}" onChange="{this.updateVehicle.bind(this, vehicle)}">
        <option value="1">{this.t('travel.gasoline')}</option>
        <option value="2">{this.t('travel.diesel')}</option>
      </select>
      <input data-key="miles" placeholder="{this.t('travel.miles_per_year')}" onChange="{this.updateVehicle.bind(this, vehicle)}"/>
      <div id="{vehicle.slider_id}"></div>
      <div class="question--vehicle__mpg-label">{this.t('travel.miles_per_gallon')}</div>
      <span class="label label-danger"
        onClick="{this.removeVehicle.bind(this, vehicle)}">{this.t('Remove')}<i class="fa-minus"></i></span>
    </div>

    <div rt-if="this.simple">
      <div class="cc-component__question">
        <h3 class="cc-component__question-label">{this.t('travel.publictrans.label')}</h3>
        <input
          onChange="{this.updateFootprintInput.bind(this)}"
          data-api_key="input_footprint_transportation_publictrans"
          class="cc-component__question-input--right"/>
      </div>
      <div class="cc-component__question">
        <h3 class="cc-component__question-label">{this.t('travel.air.label')}</h3>
        <input
          onChange="{this.updateFootprintInput.bind(this)}"
          data-api_key="input_footprint_transportation_airtotal"
          class="cc-component__question-input--right"/>
      </div>
    </div>

    <div rt-if="!this.simple">
      <div class="cc-component__question">
        <h3 class="cc-component__question-label">{this.t('travel.publictrans.label')}</h3>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_bus"/>
          <div class="cc-component__sub-question-label">{this.t('travel.publictrans.bus')}</div>
        </div>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_transit"/>
          <div class="cc-component__sub-question-label">{this.t('travel.publictrans.transit_rail')}</div>
        </div>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_commuter"/>
          <div class="cc-component__sub-question-label">{this.t('travel.publictrans.commuter_rail')}</div>
        </div>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_intercity"/>
          <div class="cc-component__sub-question-label">{this.t('travel.publictrans.inter_city_rail')}</div>
        </div>
      </div>
      <div class="cc-component__question">
        <h3 class="cc-component__question-label">{this.t('travel.air.label')}</h3>
        <h4 class="cc-component__question-label">{this.t('travel.air.advanced_sub_label')}</h4>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_airshort"/>
          <div class="cc-component__sub-question-label">{this.t('travel.air.short')}</div>
        </div>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_airmedium"/>
          <div class="cc-component__sub-question-label">{this.t('travel.air.medium')}</div>
        </div>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_airlong"/>
          <div class="cc-component__sub-question-label">{this.t('travel.air.long')}</div>
        </div>
        <div class="cc-component__sub-question">
          <input
            onChange="{this.updateFootprintInput.bind(this)}"
            data-api_key="input_footprint_transportation_airextended"/>
          <div class="cc-component__sub-question-label">{this.t('travel.air.extended')}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="cc-component__nav">
    <button onClick="{this.router.previous.bind(this.router)}" class="btn">{this.t('Previous')}</button>
    <button onClick="{this.router.next.bind(this.router)}" class="btn">{this.t('Next')}</button>
  </div>
</div>
