<rt-require dependency="shared/components/common/graphs/graphs.component" as="Graphs"/>
<main className="cc-component container container-md" id="profile">
  <div rt-if="!this.loaded && !this.error" className="loader"></div>
  <div rt-if="this.loaded">
    <div className="cc-component__nav">
      <a onClick="{this.viewRanking.bind(this)}">{this.t('profile.view_ranking')}</a>
    </div>

    <div class="profile-container">
      <h2 class="name">{this.full_name}</h2>
      <h4><i class="fa fa-home" aria-hidden="true"></i> {this.location}</h4>
    </div>
    <Graphs user_profile_footprint="{this.profile_footprint}"/>
  </div>

</main>
