#profile {
  .cc-component__nav {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .profile-container {
    text-align: center;
    margin-bottom: 40px;
    .name {
      margin-bottom: 20px;
    }
  }
}
