#profile {
  .cc-component__nav {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .action-btn {
    background: #4AAA48;
    color: #FFF;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    padding: 7px;
    font-size: 12px;
  }

  .profile-container {
    text-align: center;
    margin-bottom: 40px;
    .user-photo {
      width: 200px;
      height: 200px;
      margin: 20px auto;
      border: 1px solid #4AAA48;
      border-radius: 100px;

      .fa {
        margin-top: 45px;
        font-size: 7em;
      }

      .upload {
        margin-top: 0;
        padding-left: 5px;
        a {
          margin-top: 15px;
        }

        .loader {
          margin-top: 10px;
        }
      }

      &.is-auth {
        .fa {
          margin-top: 0;
        }
      }

      &.is-set {
        border-radius: 0;
        img {
          width: 100%;
          height: auto;
        }

        .upload {
          display: none;
        }

        &.is-auth {
          &:hover,
          &.trigger-hover {
            img {
              opacity: .2;
            }
            .upload {
              display: block;
              position: relative;
              width: 100%;
              height: 100%;
              top: -120px;
            }
          }
        }
      }
    }

    .privacy {
      margin-top: 20px;

    }

    .name {
      margin-bottom: 20px;
    }

    .profile-data {
      width: 80%;
      margin: 0 auto;
      &.editable {
        .view {
          border: 1px solid #4AAA48;
          .action-btn {
            display: inline-block;
          }
        }
      }

      .view {
        padding: 10px 0;
        .social-media {
          .icons {
            width: 250px;
            margin: 0 auto;
            .platform {
              &:not(:last-child) {
                margin-right: 15px;
              }
              a:hover {
                .fa {
                  color: #4AAA48;
                }
                cursor: pointer;
              }
            }
            .fa {
              color: #000;
              font-size: 1.5em;
            }
          }
        }
        .introduction {
          margin-top: 15px;
        }
        .action-btn {
          display: none;
        }

        .platform {
          display: inline-block;
          &.not-set {
            display: none;
          }
          &.not-yet-set {
            .fa {
              color: #777;
            }
          }
        }

        .introduction {
          display: block;
          &.not-set {
            display: none;
          }
        }

      }

      .editing {
        padding: 10px 0;
        border: 1px solid #4AAA48;

        .form-group {
          width: 90%;
          margin: 0 auto 8px;
          text-align: left;

          label {
            width: 100px;
          }

          .input-group,
          .textarea {
            width: 75%;
          }

        }
        .action-btn {
          display: block;
          width: 60px;
          margin: 20px auto;
        }
      }
    }
  }

  .actions-container {
    margin-top: 40px;
    text-align: center;

    .table {
      text-align: left;
      margin-top: 20px;
      border: 1px solid #ddd;
      thead {
        tr {
          th {
            vertical-align: middle;
          }
        }
      }
    }
    .btn {
      padding: 2px 10px;
      margin-top: -2px;
      &:hover,
      &.completed {
        background-color: #4AAA48;
      }
      &.btn-disabled {
        cursor: default;
        &:hover {
          background-color: #fff;
          &.completed {
            background-color: #4AAA48;
          }
        }
      }
    }
  }
}
