<main class="cc-component container container-sm" id="home">
	<header class="cc-component__header">
		<div>
			<img src="/assets/img/{this.route_key}-black.png"/>
			<h2>{this.t('home.title')}</h2>
		</div>
		<span class="cc-component__byline">{this.t('home.byline')}</span>
	</header>

	<div class="cc-component__form">
		<div class="cc-component__question">
			<div class="cc-component__question-label">{this.t(`home.electricity.label`)}</div>
			<input class="form-control"
			rt-class="{hidden: !this.unitsSet('electricity', 0)}"
			onChange="{this.updateFootprintInput.bind(this)}"
			value="{this.state.input_footprint_housing_electricity_dollars}"
			placeholder="{this.defaultCategoryInput('electricity_dollars')}"
			data-api_key="input_footprint_housing_electricity_dollars"
			class="cc-component__question-input"/>
			<input class="form-control"
			rt-class="{hidden: !this.unitsSet('electricity', 1)}"
			onChange="{this.updateFootprintInput.bind(this)}"
			value="{this.state.input_footprint_housing_electricity_kwh}"
			placeholder="{this.defaultCategoryInput('electricity_kwh')}"
			data-api_key="input_footprint_housing_electricity_kwh"
			class="cc-component__question-input"/>
			<select
			onChange="{this.setUnits.bind(this)}"
			data-api_key="input_footprint_housing_electricity_type"
			value="{this.state.input_footprint_housing_electricity_type}">
			<option value="0">{this.t('units.usd_per_year')}</option>
			<option value="1">{this.t('units.kwh_per_year')}</option>
		</select>
	</div>
	<div class="cc-component__question">
		<div class="cc-component__question-label">{this.t(`home.cleanpercent.label`)}</div>
		<div id="home_cleanpercent_slider"></div>
	</div>
	<div class="cc-component__question">
		<div class="cc-component__question-label">{this.t(`home.naturalgas.label`)}</div>
		<input class="form-control"
		rt-class="{hidden: !this.unitsSet('naturalgas', 0)}"
		onChange="{this.updateFootprintInput.bind(this)}"
		value="{this.state.input_footprint_housing_naturalgas_dollars}"
		placeholder="{this.defaultCategoryInput('naturalgas_dollars')}"
		data-api_key="input_footprint_housing_naturalgas_dollars"
		class="cc-component__question-input"/>
		<input class="form-control"
		rt-class="{hidden: !this.unitsSet('naturalgas', 1)}"
		onChange="{this.updateFootprintInput.bind(this)}"
		value="{this.state.input_footprint_housing_naturalgas_therms}"
		placeholder="{this.defaultCategoryInput('naturalgas_therms')}"
		data-api_key="input_footprint_housing_naturalgas_therms"
		class="cc-component__question-input"/>
		<input class="form-control"
		rt-class="{hidden: !this.unitsSet('naturalgas', 2)}"
		onChange="{this.updateFootprintInput.bind(this)}"
		value="{this.state.input_footprint_housing_naturalgas_cuft}"
		placeholder="{this.defaultCategoryInput('naturalgas_cuft')}"
		data-api_key="input_footprint_housing_naturalgas_cuft"
		class="cc-component__question-input"/>
		<select
		onChange="{this.setUnits.bind(this)}"
		data-api_key="input_footprint_housing_naturalgas_type"
		value="{this.state.input_footprint_housing_naturalgas_type}">
		<option value="0">{this.t('units.usd_per_year')}</option>
		<option value="1">{this.t('units.therms_per_year')}</option>
		<option value="2">{this.t('units.cuft_per_year')}</option>
	</select>
</div>
<div class="cc-component__question">
	<div class="cc-component__question-label">{this.t(`home.heatingoil.label`)}</div>
	<input class="form-control"
	rt-class="{hidden: !this.unitsSet('heatingoil', 0)}"
	onChange="{this.updateFootprintInput.bind(this)}"
	value="{this.state.input_footprint_housing_heatingoil_dollars}"
	placeholder="{this.defaultCategoryInput('heatingoil_dollars')}"
	data-api_key="input_footprint_housing_heatingoil_dollars"
	class="cc-component__question-input"/>
	<input class="form-control"
	rt-class="{hidden: !this.unitsSet('heatingoil', 1)}"
	onChange="{this.updateFootprintInput.bind(this)}"
	value="{this.state.input_footprint_housing_heatingoil_gallons}"
	placeholder="{this.defaultCategoryInput('heatingoil_gallons')}"
	data-api_key="input_footprint_housing_heatingoil_gallons"
	class="cc-component__question-input"/>
	<select
	onChange="{this.setUnits.bind(this)}"
	data-api_key="input_footprint_housing_heatingoil_type"
	value="{this.state.input_footprint_housing_heatingoil_type}">
	<option value="0">{this.t('units.usd_per_year')}</option>
	<option value="1">{this.t('units.gallons_per_year')}</option>
</select>
</div>
<div class="cc-component__question">
	<div class="cc-component__question-label">{this.t(`home.squarefeet.label`)}</div>
	<input class="form-control"
	onChange="{this.updateFootprintInput.bind(this)}"
	value="{this.state.input_footprint_housing_squarefeet}"
	placeholder="{this.t('units.usd_per_year')}"
	data-api_key="input_footprint_housing_squarefeet"
	class="cc-component__question-input"/>
</div>
<div class="cc-component__question">
	<div class="cc-component__question-label">{this.t(`home.watersewage.label`)}</div>
	<div id="home_watersewage_slider"></div>
	<div>{this.display_annual_water_dollars} <i>{this.t('units.usd_per_year')}</i></div>
</div>
</div>

<div class="cc-component__nav">
	<a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
	<a onClick="{this.router.next.bind(this.router)}">{this.t('Next')}</a>
</div>
</main>
