<div class="cc-component" id="external_offset">

  <div class="external-offset__impact">
    <div class="external-offset__footprint">
      <h5>{this.display_total_footprint}</h5>
      <p>{this.t('take_action.external_offset.tons_co2_per_year')}</p>
    </div>

    <div class="external-offset__equals">
      <span>=</span>
    </div>

    <div class="external-offset__price">
      <h5>{this.t('take_action.external_offset.dollar_sign')}{this.display_monthly_offset}</h5>
      <p>{this.t('take_action.external_offset.monthly_gift')}</p>
    </div>
  </div>
  <div class="external-offset__description">
    <p>{this.display_offset_description}</p>
  </div>

  <div class="external-offset__call-to-action">
    <a href="{this.offset_url}" class="btn btn-success">OFFSET NOW</a>
  </div>
</div>
