<main class="cc-component container container-md" id="sign_up">
    <header class="cc-component__header">
        <div>
            <!-- <img src="/assets/img/{this.route_key}.png"/> -->
            <h3>{this.t('sign_up.title')}</h3>
        </div>
    </header>

    <div class="cc-component__form form-horizontal">
        <div class="cc-component__auth">
            <div class="form-group">
                <label for="inputFirst" class="control-label">{this.t(`sign_up.first_name`)}</label>
                <input type="text" class="form-control" id="inputFirst"
                 onChange="{this.updateInput.bind(this)}" value="{this.state.first_name}" data-api_key="first_name" placeholder="{this.t(`sign_up.first_name`)}">
            </div>
            <div class="form-group">
                <label for="inputLast" class="control-label">{this.t(`sign_up.last_name`)}</label>
                <input type="text" class="form-control" id="inputLast"
                onChange="{this.updateInput.bind(this)}" data-api_key="last_name" value="{this.state.last_name}" placeholder="{this.t(`sign_up.last_name`)}">
            </div>
            <div class="form-group">
                <label for="inputEmail" class="control-label">{this.t(`sign_up.email`)}</label>
                <input type="email" class="form-control" id="inputEmail" onChange="{this.updateInput.bind(this)}" data-api_key="email"
                value="{this.state.email}" placeholder="{this.t(`sign_up.email`)}">
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">{this.t(`sign_up.password`)}</label>
                <input type="password" class="form-control" id="inputPassword" onChange="{this.updateInput.bind(this)}" data-api_key="password" value="{this.state.password}" placeholder="{this.t(`sign_up.password`)}">
            </div>
            <div class="cc-component__auth-submit">
                <a onClick="{this.signup.bind(this)}">{this.t(`sign_up.submit`)}</a>
            </div>
        </div>
    </div>
</main>
