<rt-require dependency="./../sign_up/sign_up.component" as="SignUp"/>
<rt-require dependency="./../login/login.component" as="Login"/>
<rt-require dependency="./../logout/logout.component" as="Logout"/>
<rt-require dependency="./../get_started/get_started.component" as="GetStarted"/>
<rt-require dependency="./../travel/travel.component" as="Travel"/>
<rt-require dependency="./../home/home.component" as="Home"/>
<rt-require dependency="./../food/food.component" as="Food"/>
<rt-require dependency="./../shopping/shopping.component" as="Shopping"/>
<rt-require dependency="./../footprint/footprint.component" as="Footprint"/>
<rt-require dependency="./../take_action/take_action.component" as="TakeAction"/>
<rt-require dependency="./../missing/missing.component" as="Missing"/>
<rt-require dependency="./../graphs/graphs.component" as="Graphs"/>
<div id="cc_calculator_ui">
	<nav class="navbar navbar-default">
			<div id="cc_nav">
				<div
					rt-repeat="route in this.router.main_routes"
					class="cc-nav__item"
					key="{route.key}"
					rt-class="{'cc-nav__item--active': this.current_route_name === route.route_name}"
					onClick="{this.goToRoute.bind(this, route)}">
					<img rt-if="(route.route_name !== this.current_route_name)" src="/assets/img/{route.key}-green.svg"/>
					<img rt-if="(route.route_name === this.current_route_name)" src="/assets/img/{route.key}-blue.svg"/>
					<div>{this.t(`${route.key}.title`)}</div>
				</div>
				<div class="cc-nav__auth">
					<a rt-repeat="route in this.router.auth_routes"
						class="cc-nav__item btn btn-default"
						key="{route.key}"
						rt-if
						="!(this.user_authenticated)"
						rt-class="{'cc-nav__item--active': this.current_route_name === route.route_name}"
						onClick="{this.goToRoute.bind(this, route)}">
						{this.t(`${route.key}.title`)}
					</a>
					<Logout rt-if="(this.user_authenticated)"></Logout
				</div>
			</div>
	</nav>
	<div id="banner"></div>
	<main>
		<SignUp
			rt-if="this.current_route_name === 'SignUp'"
		></SignUp>
		<Login
			rt-if="this.current_route_name === 'Login'"
		></Login>
		<GetStarted
			rt-if="this.current_route_name === 'GetStarted'"
		></GetStarted>
		<Travel
			rt-if="this.current_route_name === 'Travel'"
		></Travel>
		<Home
			rt-if="this.current_route_name === 'Home'"
		></Home>
		<Food
			rt-if="this.current_route_name === 'Food'"
		></Food>
		<Shopping
			rt-if="this.current_route_name === 'Shopping'"
		></Shopping>
		<Footprint
			rt-if="this.current_route_name === 'Footprint'"
		></Footprint>
		<TakeAction
			rt-if="this.current_route_name === 'TakeAction'"
		></TakeAction>
		<Missing
			rt-if="this.current_route_name === 'Missing'"
		></Missing>
	</main>
	<Graphs rt-if="this.current_route_name != 'SignUp' && this.current_route_name != 'Login'"></Graphs>
</div>
