<rt-require dependency="./../_user/forgot_password/forgot_password.component" as="ForgotPassword"/>
<rt-require dependency="./../flash_message/flash_message.component" as="FlashMessage"/>
<rt-require dependency="./../get_started/get_started.component" as="GetStarted"/>
<rt-require dependency="./../travel/travel.component" as="Travel"/>
<rt-require dependency="./../home/home.component" as="Home"/>
<rt-require dependency="./../food/food.component" as="Food"/>
<rt-require dependency="./../shopping/shopping.component" as="Shopping"/>
<rt-require dependency="./../footprint/footprint.component" as="Footprint"/>
<rt-require dependency="./../take_action/take_action.component" as="TakeAction"/>
<rt-require dependency="./../missing/missing.component" as="Missing"/>
<rt-require dependency="./../graphs/graphs.component" as="Graphs"/>
<rt-require dependency="./../settings/settings.component" as="Settings"/>
<div id="cc_calculator_ui">
	<nav class="navbar navbar-default">
			<div id="cc_nav">
				<div
					rt-repeat="route in this.router.main_routes"
					class="cc-nav__item"
					key="{route.key}"
					rt-class="{'cc-nav__item--active': this.current_route_name === route.route_name}"
					onClick="{this.goToRoute.bind(this, route)}">
					<img rt-if="(route.route_name !== this.current_route_name)" src="/assets/img/{route.key}-green.svg"/>
					<img rt-if="(route.route_name === this.current_route_name)" src="/assets/img/{route.key}-blue.svg"/>
					<div>{this.t(`${route.key}.title`)}</div>
				</div>

				<div
					class="cc-nav__item"
					id="settings_nav_item"
					rt-class="{'cc-nav__item--active': this.current_route_name === 'Settings'}"
					onClick="{this.goToSettings.bind(this)}">
				  <img src="/assets/img/settings.png"/>
					<div>{this.t(`Settings`)}</div>
				</div>

			</div>
	</nav>
	<div id="banner"></div>
	<FlashMessage alerts="{this.alert_list}"></FlashMessage>
	<main>
		<ForgotPassword
			rt-if="this.current_route_name === 'ForgotPassword'"
		></ForgotPassword>
		<Settings
			rt-if="this.current_route_name === 'Settings'"
		></Settings>
		<GetStarted
			rt-if="this.current_route_name === 'GetStarted'"
		></GetStarted>
		<Travel
			rt-if="this.current_route_name === 'Travel'"
		></Travel>
		<Home
			rt-if="this.current_route_name === 'Home'"
		></Home>
		<Food
			rt-if="this.current_route_name === 'Food'"
		></Food>
		<Shopping
			rt-if="this.current_route_name === 'Shopping'"
		></Shopping>
		<Footprint
			rt-if="this.current_route_name === 'Footprint'"
		></Footprint>
		<TakeAction
			rt-if="this.current_route_name === 'TakeAction'"
		></TakeAction>
		<Missing
			rt-if="this.current_route_name === 'Missing'"
		></Missing>
	</main>
	<Graphs rt-if="this.graphing_route"></Graphs>
</div>
