<rt-require dependency="shared/components/pages/get_started/get_started.component" as="GetStarted"/>
<rt-require dependency="shared/components/pages/travel/travel.component" as="Travel"/>
<rt-require dependency="shared/components/pages/home/home.component" as="Home"/>
<rt-require dependency="shared/components/pages/food/food.component" as="Food"/>
<rt-require dependency="shared/components/pages/shopping/shopping.component" as="Shopping"/>
<rt-require dependency="shared/components/pages/footprint/footprint.component" as="Footprint"/>
<rt-require dependency="shared/components/pages/take_action/take_action.component" as="TakeAction"/>
<rt-require dependency="shared/components/pages/missing/missing.component" as="Missing"/>
<rt-require dependency="shared/components/pages/settings/user/forgot_password/forgot_password.component" as="ForgotPassword"/>
<rt-require dependency="shared/components/pages/settings/settings.component" as="Settings"/>
<rt-require dependency="shared/components/pages/profile/profile.component" as="Profile"/>
<rt-require dependency="shared/components/common/alerts/alerts.component" as="Alerts"/>
<rt-require dependency="shared/components/common/graphs/graphs.component" as="Graphs"/>
<div>
	<div rt-if="!this.initial_load_done" className="loader"></div>
	<div id="cc_calculator_ui" rt-if="this.initial_load_done">
		<nav className="navbar navbar-default">
				<div id="cc_nav" rt-class="{'cc-nav__no-settings': !this.connect_to_api}">
					<div
						rt-repeat="route in this.router.main_routes"
						className="cc-nav__item"
						key="{route.key}"
						rt-class="{'cc-nav__item--active': this.current_route_name === route.route_name}"
						onClick="{this.router.goToRouteByName.bind(this, route.route_name)}">
						<img rt-if="(route.route_name !== this.current_route_name)" src="/assets/img/{route.key}-green.svg"/>
						<img rt-if="(route.route_name === this.current_route_name)" src="/assets/img/{route.key}-filled.svg"/>
						<div>{this.getRouteTitle(route)}</div>
					</div>

					<div
						className="cc-nav__item"
						id="settings_nav_item"
						rt-class="{'cc-nav__item--active': this.current_route_name === 'Settings'}"
						rt-if="this.connect_to_api"
						onClick="{this.router.goToRouteByName.bind(this, 'Settings')}">
          	<img rt-if="(this.current_route_name !== 'Settings')" src="/assets/img/profile.png"/>
          	<img rt-if="(this.current_route_name === 'Settings')" src="/assets/img/profile-active.png"/>
						<div>{this.t('settings.title')}</div>
					</div>
				</div>
		</nav>
		<div rt-if="this.external_offset.banner_url" id="external_banner">
			<img src="{this.external_offset.banner_url}" rt-props="{style: this.external_offset.banner_style}"/>
		</div>
		<Alerts list="{this.alert_list_activation}" rt-props="{confirmAccount: this.props.confirmAccount}" />
		<Alerts list="{this.alert_list}"  />

		<main>
			<ForgotPassword rt-if="this.current_route_name === 'ForgotPassword'" />
			<Settings rt-if="this.current_route_name === 'Settings'" />
			<GetStarted rt-if="this.current_route_name === 'GetStarted'" />
			<Travel rt-if="this.current_route_name === 'Travel'" />
			<Home rt-if="this.current_route_name === 'Home'" />
			<Food rt-if="this.current_route_name === 'Food'" />
			<Shopping rt-if="this.current_route_name === 'Shopping'" />
			<Footprint rt-if="this.current_route_name === 'Footprint'" />
			<TakeAction rt-if="this.current_route_name === 'TakeAction'" />
			<Profile rt-if="this.current_route_name === 'Profile'" />
			<Missing rt-if="this.is_no_app_route" />
		</main>
		<Graphs rt-if="this.graphing_route" />
		<div id="forget_user_answers" rt-if="this.show_user_answers_reset">
			<a type="button" href="#"
				className="btn btn-default"
				data-toggle="modal"
				data-target="#forget_user_answers_content">
					<i className="fa fa-eraser" aria-hidden="true"></i>
				</a>
		</div>

		<div rt-if="this.show_user_answers_reset" className="modal fade" id="forget_user_answers_content" tabindex="-1" role="dialog">
			<div className="modal-dialog modal-sm" role="document">
				<div className="modal-content">
					<div className="modal-body">
						<p>{this.t('get_started.restore_defaults')}</p>
						<p>
							<a type="button" className="btn btn-default btn-danger"
								onClick="{this.setUserAnswersToDefault.bind(this, true)}"
								data-dismiss="modal">
								{this.t('get_started.restore_defaults_button')}
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>

    <div rt-if="this.show_take_action_now" id="next-category" className="fixed-sidebar">
      <button onClick="{this.router.next.bind(this.router)}" className="btn btn-success btn-block">
        {this.t('Next')} <i class="fa fa-caret-right" aria-hidden="true"></i>  {this.next_route_title}
      </button>
    </div>

	  <div rt-if="this.show_take_action_now" id="go_to_take_action" className="fixed-sidebar">
	    <button onClick="{this.router.goToRouteByName.bind(this, 'TakeAction')}" className="btn btn-info btn-block">
	    	{this.t('Take action now')}
	    </button>
  </div>
	<div className="terms-footer">
		<div className="content">
			<ul>
				<li><a href="http://coolclimate.berkeley.edu/" target="_parent">{this.t('powered_by')}</a></li>
				<li><a href="http://coolclimate.berkeley.edu/terms-of-use" target="_parent">{this.t('terms_of_use')}</a></li>
				<li><a href="http://pubs.acs.org/doi/suppl/10.1021/es4034364" target="_parent">{this.t('documentation')}</a></li>
			</ul>
		</div>
	</div>
</div>
