<main class="cc-component container container-md" id="forgot_password">
    <header class="cc-component__header">
        <div>
            <h3>{this.t('forgot_password.title')}</h3>
        </div>
    </header>

    <div class="cc-component__form form-horizontal">
        <div class="cc-component__auth">
            <div class="form-group">
                <label for="inputEmail" class="control-label">{this.t(`forgot_password.email`)}</label>
                <input type="email" class="form-control" id="inputEmail"
                rt-class="{error: !this.paramValid('email')}" onChange="{this.updateInput.bind(this)}" data-api_key="email"
                value="{this.state.email}" placeholder="{this.t(`forgot_password.email`)}">
            </div>
            <div class="cc-component__auth-submit">
                <a onClick="{this.submitForgotPassword.bind(this)}">{this.t(`forgot_password.submit`)}</a>
            </div>
        </div>
    </div>
</main>
