.action {
  padding-bottom: 2px;

  .action__heading {
    border-bottom:1px solid lightgrey;
    background-color:#F2F2F2;
    border-radius:5px;
  }

  .action__heading--taken {
    color:white;
    background-color:#449D44;
  }

  .action__title {
    h5 {
      cursor:pointer;
      padding: 14px 4px;
      display: inline-block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    .narrow {
      width: 85%;
    }
    > button {
      margin-top:3px;
      margin-right: 5px;
      float:right;
      z-index: 1000;
    }
  }

  .action__savings-amount {
    font-size:1.25em;
  }

  .action__body {
    padding-top: 15px;
    border: 1px solid #F2F2F2;
    border-top: 0px;
    border-radius: 8px;
  }

  .action__savings {
    text-align:center;
    > div {
      display:inline-block;
      padding:4px;
      margin-left:4px;
      margin-right:4px;
    }

  }

  .action__fact {
    color: #009966;
  }

  .table > tbody > tr > td {
    border-top: 0px;
    line-height: 1em;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
    &:nth-child(2){
      vertical-align: top;
    }
  }
}

.action__assumptions {
  color: #696969;
  background-color: rgba(49,176,213,0.1);
  padding: 7px;
}

.action__fact, .action__rebates { padding: 7px; }

.action__assumptions-row {
  margin: 5px 0px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.action {
  .table > tbody > tr > td {
    border-top: 0px;
    line-height: 1em;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
  }
}

.action__detail-row {
  justify-content: center;
  align-items: center;
  > div {
    margin: 0px 2px;
  }
}

.action__critical-assumptions {
  width: 100%;
  td {
    width: 50%;
    padding: 5px;
    &:first-child{
      text-align:right;
    }
    &:nth-child(2) {
      text-align:left;
    }
  }
}

.action__pledge-button-text {
  margin-right: 3px;
}

@media (max-width: 400px) {
  .action {
    .action__title {
      .narrow {
        width: 70%;
      }
    }
  }
  .action__pledge-button-text {
    display:none;
  }
}
@media (min-width: 400px) and (max-width: 550px) {
  .action {
    .action__title {
      .narrow {
        width: 72%;
      }
    }
  }
}
@media (min-width: 550px) and  (max-width: 700px) {
  .action {
    .action__title {
      .narrow {
        width: 80%;
      }
    }
  }
}
