.action {

  padding-bottom: 2px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  text-align: center;

  .action__heading {
    border-bottom: 1px solid rgba(0,0,0,.125);
    background-color: #F2F2F2;

    .action__status {
      padding: 10px 0;
      .btn--pledge {
        margin-left: 35px;
        border-color: #449D44;
        background-color: #fff;
        &:hover {
          background-color: #e6e6e6;
        }
        &.action__status--taken {
          background-color: #449D44;
          border-color: #fff;
          color: #fff;
        }
      }

      .btn--discard {
        background-color: #f39090;
        margin-right: 15px;
        float: right;
      }
    }
  }

  .action__heading--taken {
    color:white;
    background-color:#449D44;
  }

  .action__title {
    padding-bottom: 10px;
    h4 {
      padding: 14px 4px;
      display: inline-block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
    .narrow {
      width: 85%;
    }
    > button {
      margin-top:3px;
      margin-right: 5px;
      float:right;
      z-index: 1000;
    }
  }

  .action__more-details {
    margin: 20px 0 15px 0;
    &.toggled {
      margin-bottom: 0;
    }
  }

  .action__savings-amount {
    font-size:1.25em;
  }

  .action__savings-label {
    font-weight:bold;
    font-size:0.9em;
  }

  .action__content {
    text-align: left;
  }

  .action__assumptions-header,
  .action__assumptions-body {
    color: #696969;
    background-color: rgba(49, 176, 213, 0.1)
  }

  .action__savings {
    text-align:center;
    > div {
      display:inline-block;
      padding:4px;
      margin-left:4px;
      margin-right:4px;
    }

  }

  .action__fact {
    color: #009966;
  }

  .table > tbody > tr > td {
    border-top: 0px;
    line-height: 1em;
    vertical-align: middle;
    padding: 5px 12px;
    width: 50%;
    &:nth-child(2){
      vertical-align: top;
    }
  }
}

.critical_assumptions {
  margin-top: 15px;
  border: 1px solid #46b8da;
  border-radius: 12px;
  background-color: #eee;
  .table {
    margin-top: 20px;
  }
}

.action,
.critical_assumptions {
  .table > tbody > tr > td {
    border-top: 0px;
    line-height: 1em;
    vertical-align: middle;
    padding: 5px 12px;
    width: 50%;
  }
}

@media (max-width: 400px) {
  .action {
    .action__title {
      .narrow {
        width: 70%;
      }
    }
  }
}
@media (min-width: 400px) and (max-width: 550px) {
  .action {
    .action__title {
      .narrow {
        width: 72%;
      }
    }
  }
}
@media (min-width: 550px) and  (max-width: 700px) {
  .action {
    .action__title {
      .narrow {
        width: 80%;
      }
    }
  }
}
