<div class="cc-component" id="graphs">
  <div id="graphs_stats">
    <table id="graphs_summary" class="table">
      <tbody>
        <tr>
          <th>
            {Math.round(this.user_category_footprint)}
            <span class="graphs__units" dangerouslySetInnerHTML="{{ __html: '&nbsp;' + this.t('units.tons_co2_per_year')}}"></span>
          </th>
          <th>
            {Math.round(this.average_category_footprint)}
            <span class="graphs__units" dangerouslySetInnerHTML="{{ __html: '&nbsp;' + this.t('units.tons_co2_per_year')}}"></span>
          </th>
          <th>
            {this.display_category_percent}%
          </th>
          <th rt-class="{hidden: !this.shouldShowTotal()}">
            {this.display_total_footprint}
            <span class="graphs__units" dangerouslySetInnerHTML="{{ __html: this.t('units.tons_co2_per_year')}}"></span>
          </th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td>{this.category_user_byline}</td>
          <td>{this.category_average_byline}</td>
          <td>{this.category_percentage_byline}</td>
          <td rt-class="{hidden: !this.shouldShowTotal()}">
            {this.t('summaries.total_footprint')}
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <div id="graphs_toggle_chart">
    <div class="btn-group">
      <button class="btn btn-default"
        rt-class="{'graphs--active': this.show_bar_chart}"
        onClick="{this.toggleChartType.bind(this, 'bar')}">
        <i class="fa fa-bar-chart"></i>
      </button>
      <button class="btn btn-default"
        rt-class="{'graphs--active': this.show_pie_chart}"
        onClick="{this.toggleChartType.bind(this, 'pie')}">
        <i class="fa fa-pie-chart"></i>
      </button>
    </div>
  </div>

  <div rt-class="{hidden: !this.show_bar_chart}">
    <h4 dangerouslySetInnerHTML="{{ __html: this.t('graphs.bar_graph_title')}}"></h4>
    <div id="overview_bar_chart"></div>
    <div class="chart-legend">
      <div>
        <img src="/assets/img/your-footprint-rect.png"/>
        {this.t('footprint.your_footprint')}
      </div>
      <div>
        <img src="/assets/img/average-footprint-rect.png"/>
        {this.t('footprint.average_footprint')}
      </div>
    </div>
  </div>

  <div rt-class="{hidden: !this.show_pie_chart}">
    <div id="overall_comparative_pie"></div>
    <div class="chart-legend">
      <div>
        <img src="/assets/img/your-footprint-icon.png"/>
        {this.t('footprint.your_footprint')}
      </div>
      <div>
        <img src="/assets/img/average-footprint-icon.png"/>
        {this.t('footprint.average_footprint')}
      </div>
    </div>
  </div>
</div>
