<rt-require dependency="./external_offset/external_offset.component" as="ExternalOffset"/>
<rt-require dependency="./action/action.component" as="Action"/>
<main class="cc-component container container-md" id="take_action">
  <header class="cc-component__header">
    <div>
      <img src="/assets/img/{this.route_key}-black.svg"/>
      <h4>{this.t('take_action.title')}</h4>
    </div>
    <span class="cc-component__byline">{this.t('take_action.byline')}</span>
  </header>

  <ExternalOffset rt-if="this.external_offset_set"></ExternalOffset>

  <div id="action_category_btn_group_container" class="cc-component__question">
    <div id="action_category_btn_group" class="btn-group" role="group">
      <a rt-repeat="category in this.actions_list"
        rt-class="{'btn-success': this.isCategoryActive(category.category), 'btn-default': !this.isCategoryActive(category.category)}"
        key="action_category_{category.category}"
        type="button"
        class="btn"
        onClick="{this.setCategory.bind(this, category.category)}"
         >{this.t(category.title)}</a>
    </div>
  </div>

  <div id="action_shared_assumptions">
    <a type="button"
      class="btn btn-sm btn-info"
      onClick="{this.toggleSharedAssumptions.bind(this)}"
       >{this.t('take_action.shared_assumptions')}</a>
       <Action is_assumption={true} show="{this.state.show_shared_assumptions}"></Action>
  </div>

  <div class="cc-component__form">
    <div>
      <rt-virtual rt-repeat="category in this.actions_list">
        <Action rt-repeat="key in category.keys" action_key="{key}" category="{category.category}" show="{this.showAction(key)}" is_assumption={false}></Action>
      </virtual>
    </div>
  </div>

  <div id="take_action_savings" class="fixed-sidebar">
    <div class="mobile">
      <span class="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span><br/>
      <span class="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span><br/>
      <span class="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span><br/>
    </div>
    <div class="desktop">
      <h3><span class="label label-info">{this.displayTakeactionSavings('result_takeaction_pounds')} {this.t('take_action.tons_saved')}</span></h3>
      <h3><span class="label label-info">${this.displayTakeactionSavings('result_takeaction_dollars')} {this.t('take_action.dollars_saved')}</span></h3>
      <h3><span class="label label-info">${this.displayTakeactionSavings('result_takeaction_net10yr')} {this.t('take_action.upfront_cost')}</span></h3>
    </div>
  </div>

  <div class="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
  </div>
</main>
