#take_action {
  position:relative;
  .take-action__detail-toggle {
    float: right;
  }

  .cc-component__nav {
    margin-top: 20px;
  }
}

.take-action__savings-amount {
  font-size:1.25em;
}

.take-action__savings-label {
  font-weight:bold;
  font-size:0.9em;
}

.take-action__action-heading {
  border-bottom:1px solid lightgrey;
  background-color:#F2F2F2;
  cursor:pointer;
  padding:4px;
  border-radius:5px;
}
.take-action__action-heading--taken {
  color:white;
  background-color:#449D44;
}

.take-action__action-savings {
  border-bottom:1px solid lightgrey;
  text-align:center;
  > div {
    display:inline-block;
    padding:4px;
    margin-left:4px;
    margin-right:4px;
  }
  > button {
    margin-top:3px;
    float:right;
  }
}

#take_action_savings {
  bottom:5px;
  h3 { margin-top:7px; margin-bottom:0px; }
  .mobile {
    display:none;
  }
  .desktop {
    display:inline-block;
  }
}

#action_category_btn_group_container {
  text-align:center;
  padding-bottom: 15px;
}

#action_category_btn_group {
  white-space:nowrap;
  max-width:100%;
  overflow-x:auto;
  a {
    float:none;
  }
}

@media (max-width: 600px) {
  #action_category_btn_group {
    a {
      font-size:0.8em;
      width:95px;
    }
  }
}

@media (max-width: 400px) {
  #take_action_savings {
    .mobile {
      display:inline-block;
    }
    .desktop {
      display:none;
    }
  }
}
