<main class="cc-component container container-sm" id="take_action">
  <header class="cc-component__header">
    <img src="/assets/img/{this.route_key}.png"/>
    <h2>{this.title}</h2>
  </header>

  <div class="cc-component__form">

  <table class="table">
    <tbody rt-repeat="action in this.actions"
      key="{action.key}">
      <tr>
        <td onClick="{this.toggleAction.bind(this, action)}">
          <i class="fa" rt-class="{'fa-square': !action.taken, 'fa-check-square': action.taken}"></i>
        </td>
        <td colspan="2">
          <h4>
            {action.display_name}
            <button class="take-action__detail-toggle btn btn-default btn-xs"
              onClick="{this.toggleActionDetails.bind(this, action)}">
              <i rt-class="{'fa-expand': !action.detailed, 'fa-compress': action.detailed}" class="fa"></i>
            </button>
          </h4>
        </td>
      </tr>
      <tr rt-class="{hidden: !action.detailed}">
        <td>{action.tons_saved}</td>
        <td>${action.dollars_saved}</td>
        <td>${action.upfront_cost}</td>
      </tr>
    </tbody>

  </table>

  </div>

  <div class="cc-component__nav">
    <a onClick="{this.router.previous.bind(this.router)}">{this.t('Previous')}</a>
  </div>
</main>
