#home {
  .cc-component__question {
    .input-group-btn {
      &.open {
        z-index: 9999 !important;
      }
    }
  }

  .mini-label {
    padding-top: 1px;
    .label {
      font-size: 12px;
    }
  }

}
