#home {
  .cc-component__question {
    .input-group-btn {
      &.open {
        z-index: 9999 !important;
      }
    }
    &.utility-provider {
      .title,
      .dropdown {
        display: block;
      }
    }
    .selected-percentage {
      text-align: center;
      div {
        display: inline-block;
      }
      .label-container {
        margin-left: 10px;
      }
    }
  }

  .mini-label {
    padding-top: 1px;
    .label {
      font-size: 12px;
    }
  }

}

@media (min-width: 500px) {
  #home {
    .cc-component__question {
      &.utility-provider {
        .title,
        .dropdown {
          display: inline-block;
        }
        .dropdown {
          margin-left: 20px;
        }
      }
    }  
  }
}
